[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==20.0.4"
requests = "==2.24.0"
web3 = "==5.12.0"
ipfshttpclient = "==0.6.0.post1"
python-dotenv = "==0.14.0"
numpy = "==1.16.4"
tensorflow = "*"
APScheduler = "==3.6.0"
Flask = "==1.0.3"
Flask-Cors = "==3.0.8"

[requires]
python_version = "3.7"
