<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CNN</title>
	<link href ="static/style.css" rel="stylesheet">
</head>

<body>
	<h1>Predict</h1>

	<div class="centered">
		<canvas id="canvas" width="128" height="128"></canvas>
	</div>

	<div class="centered">
		<input type="button" class="myButton" value="Predict">
		<input type="button" id="clearButton" value="Clear">
	</div>

	<div class="centered">
		<h1 id="result"></h1>
	</div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="http://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <script src="static/index.js"></script>
</body>
</html>
